{{ define "main" }}
<div class="ph3 ph4-m ph5-l">
	<article class="ph3 ph4-m ph5-l">
		<div class="pa4">
			<div class="overflow-auto">
				<table class="f6 w-100 mw8 center" id="myTable" cellspacing="0">
					<thead>
						<tr style="cursor:pointer">
							<th class="fw6 bb b--white-20 tl pb3 pr3" onclick="sortTable(0);">Regione</th>
							<th class="fw6 bb b--white-20 tl pb3 pr3" onclick="sortTable(1);">Provincia</th>
							<th class="fw6 bb b--white-20 tl pb3 pr3" onclick="sortTable(2);">Nome</th>
							<th class="fw6 bb b--white-20 tl pb3 pr3" onclick="sortTable(3);">Location</th>
							<th class="fw6 bb b--white-20 tl pb3 pr3" onclick="sortTable(4);">Link</th>
							<th class="fw6 bb b--white-20 tl pb3 pr3" onclick="sortTable(5);">Mail</th>
							<th class="fw6 bb b--white-20 tl pb3 pr3" onclick="sortTable(6);">Feed</th>
						</tr>
					</thead>
					<tbody class="lh-copy">
						{{ $dataJ := getJSON "https://appletune.fundor333.com/api/active/associazioni/" }}
						{{ range $dataJ.results }}
						<tr>
							<td class="pv3 pr3 bb b--white-20">{{ humanize .regione | default "Italia"  }}</td>
							<td class="pv3 pr3 bb b--white-20">{{ .provincia }}</td>
							<td class="pv3 pr3 bb b--white-20">{{ .nome }}</td>
							<td class="pv3 pr3 bb b--white-20">{{ .citta }}</td>
							<td class="pv3 pr3 bb b--white-20">
								<a class="link white-80 hover-gold" href="{{ .link }}" target="_blank">{{ .link }}</a>
							</td>
							<td class="pv3 pr3 bb b--white-20">
								{{ if .mail }}
								<a class="link white-80 hover-gold" href="mailto:{{ .mail }}">✉️ {{ .mail }}</a>
								{{ end }}
							</td>
							<td class="pv3 pr3 bb b--white-20">
								{{ if .feed }}
								<a class="link white-80 hover-gold" target="_blank" href="{{ .feed }}">📰</a>
								{{ end }}
							</td>
						</tr>
						{{ end }}
					</tbody>
				</table>
			</div>
		</div>
	</article>
</div>
{{ end }}


{{ define "script" }}

<script>
	var asc = 0;

	function sort_table(table, col) {
		$('.sortorder').remove();
		if (asc == 2) {
			asc = -1;
		} else {
			asc = 2;
		}
		var rows = table.tBodies[0].rows;
		var rlen = rows.length;
		var arr = new Array();
		var i, j, cells, clen;
		// fill the array with values from the table
		for (i = 0; i < rlen; i++) {
			cells = rows[i].cells;
			clen = cells.length;
			arr[i] = new Array();
			for (j = 0; j < clen; j++) {
				arr[i][j] = cells[j].innerHTML;
			}
		}
		// sort the array by the specified column number (col) and order (asc)
		arr.sort(function (a, b) {
			var retval = 0;
			var col1 = a[col].toLowerCase().replace(',', '').replace('$', '').replace(' usd', '')
			var col2 = b[col].toLowerCase().replace(',', '').replace('$', '').replace(' usd', '')
			var fA = parseFloat(col1);
			var fB = parseFloat(col2);
			if (col1 != col2) {
				if ((fA == col1) && (fB == col2)) {
					retval = (fA > fB) ? asc : -1 * asc;
				} //numerical
				else {
					retval = (col1 > col2) ? asc : -1 * asc;
				}
			}
			return retval;
		});
		for (var rowidx = 0; rowidx < rlen; rowidx++) {
			for (var colidx = 0; colidx < arr[rowidx].length; colidx++) {
				table.tBodies[0].rows[rowidx].cells[colidx].innerHTML = arr[rowidx][colidx];
			}
		}

		hdr = table.rows[0].cells[col];
		if (asc == -1) {
			$(hdr).html($(hdr).html() + '<span class="sortorder">▲</span>');
		} else {
			$(hdr).html($(hdr).html() + '<span class="sortorder">▼</span>');
		}
	}


	function sortTable(n) {
		sort_table(document.getElementById("myTable"), n);
	}

	sortTable(0);

</script>{{ end }}
