{{ define "main" }}
<div class="ph3 ph4-m ph5-l">
	<p class="f4 mb4 center measure tc lh-copy">Sito che raccoglie associazioni sull' Open Source, elaborazione dati,
		linguaggi
		di programmazione e tecnologia.
		Molti di questi fanno eventi gratuiti e altri sono convention a pagamento. Parte dei presenti sono stati
		recuperati dalla <a target="_blank" class="link white-80 hover-red"
			href="https://github.com/Gelma/LugMap">LugMap</a>, alcuni dal <a target="_blank"
			class="link white-80 hover-red" href="https://gdg-italia.appspot.com">endpoint semi-ufficiale del GDG</a>
		mentre
		altri sono stati inseriti a mano dagli autori.
	</p>
</div>
{{ end }}
